
@{
    ViewBag.Title = "thank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row text-center">
        <div class="col-12">
            <hr />
            <h1 style="color: blue">THANK YOU!</h1> <br />
            <div><h2>Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất</h2> <br /></div>
            <div><h3>Bạn có muốn tiếp tục không ?</h3> <br /></div>
            <button><a href="/Home/Index">Tiếp Tục</a></button>
            <hr />
        </div>    
    </div> 



